{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- =====  bootstrp CSS ===== -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!-- ===== SWIPER CSS ===== -->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        
        <!-- ===== BOX ICONS ===== -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <title>Portfolio Personal Complete</title>
    </head>
    <body>
        <!--===== js bootstrp =====-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
        <!--===== SCROLL TOP =====-->
        <a href="#" class="scrolltop show-scroll" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>
        
        <!--===== HEADER =====-->
        <header class="l-header " id="header">
            <nav class="nav bd-container">
                <a href="{% url 'home' %}" class="nav__logo">Saul Gonzalez Rosado</a>
                
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item d-flex allign-items-center"><a href="{% url 'home' %}" class="nav__link active-link">Home</a></li>
                        <li class="nav__item d-flex allign-items-center">
                            <a  class="btn btn-primary" href="{% static 'pdf/CV.pdf' %}" target="_blank" >Donwload CV</a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            {% block content %}
            {% endblock %}
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container bd-container">
                <h1 class="footer__title"> Gonzalez Rosado Saul</h1>
                <p class="footer__description"> I am saul and this is my personal website,consult me here.</p>
                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/saul-gonzalez-rosado-702518216/" class="footer__link"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/Sauloxd45" class="footer__link"><i class='bx bxl-github'></i></a>
                    <a href="https://www.youtube.com/@sauloxd4517/videos" class="footer__link"><i class='bx bxl-youtube'></i></a>

                </div>
           
                <p class="footer__copy">&#169;  Mexico.All right reserved</p>
            </div>
        </footer>
        
        <!-- ===== MIXITUP FILTER ===== -->
        <script src="{% static 'js/mixitup.min.js' %}"></script>
        
        <!-- ===== SWIPER JS ===== -->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        
        <!-- ===== GSAP ===== -->
        <script src="{% static 'js/gsap.min.js' %}"></script>
        
        <!-- ===== EMAILJS ===== -->
        <script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('JDa9NMbnIrQ9xzlpx')
</script>
        
        <!--===== MAIN JS =====-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>