{% extends "layout_posts.html" %}
{% load embed_video_tags %}

{% block content %}
@xframe_options_sameorigin

<div class="text-center p-4">

    <h2>{{post}}</h2>

<h3 class="my-2 h5 text-muted">{{ post.date |date:'M d Y'}}</h3>

<div class="d-flex justify-content-center">

    <div class="img-fluid w-auto">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    
    </div>
    

</div>

<div class="my-4">
    <p>{{ post.text |safe}}</p>
</div>


{% if post.get_embed_url %}
<div class="p-3">

    <h2>{{ post.titulo }}</h2>
    <iframe width="560" height="315" 
            src="{{ post.get_embed_url }}" 
            frameborder="0" 
            allowfullscreen>
    </iframe>


</div>

{% else %}
    <p>No hay video disponible.</p>
{% endif %}

{% comment %} <div class="p-3">

    {% post.url 'small' %}
    
</div> {% endcomment %}

{% if post.archivo %}
<div class="p-3">
    <iframe src="{{ post.archivo.url }}" width="100%" height="600px" style= "border:none;" allow="fullscreen"></iframe>



</div>

{% else %}
    <p>No hay archivo disponible.</p>
{% endif %}

<div class="my-4">
    <a href="{% url 'blog:posts' %}" class="btn btn-light">Back to posts</a>
</div>


</div>
{% endblock %}